@model Democracy.Services.Contracts.ViewModels.BillViewModel

@{
    ViewBag.Title = Model.Title;
}
@section scripts{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    
<script>
    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#localVotes').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'My Constituency'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.4f}%</b>',
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'My Constituency',
                    data: [
                        
                            {name: 'For',y: @Model.PreviouseLocalVotes.ForPercent, color: '#3c763d'},
                            {name: 'Against',y: @Model.PreviouseLocalVotes.AgainstPercent, color: '#a94442'},
                            {name: 'Abstain',y: @Model.PreviouseLocalVotes.AbstainPercentage, color: '#adadad'}
                          ]  
                }]
            });
        });
    });
    

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#nationalVotes').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'National'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.4f}%</b>',
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'National',
                    data: [
                        
                            {name: 'For',y: @Model.PreviouseNationalVotes.ForPercent, color: '#3c763d'},
                            {name: 'Against',y: @Model.PreviouseNationalVotes.AgainstPercent, color: '#a94442'},
                            {name: 'Abstain',y: @Model.PreviouseNationalVotes.AbstainPercentage, color: '#adadad'}
                    ]  
                }]
            });
        });
    });
    

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#parlimetaryVotes').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'National'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.4f}%</b>',
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'National',
                    data: [
                        
                            {name: 'For',y: @Model.PreviouseParlimantaryVotes.ForPercent, color: '#3c763d'},
                            {name: 'Against',y: @Model.PreviouseParlimantaryVotes.AgainstPercent, color: '#a94442'},
                            {name: 'Abstain',y: @Model.PreviouseParlimantaryVotes.AbstainPercentage, color: '#adadad'}
                    ]  
                }]
            });
        });
    });
</script>

}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">About the political stance</h4>
            </div>
            <div class="modal-body">
                <p>
                    The political stance is a version of the <a href="http://www.politicalcompass.org/" target="_blank"> political compass.</a>
                </p>
                <p>
                    The political compass is an excellent way to determine the political position of a person, 
                    political party, bill etc. It is well worth visiting the political compass site to 
                    learn more about it and take the test. Where do you fall on the political spectrum?
                </p>
                <a href="http://www.politicalcompass.org/" target="_blank">www.politicalcompass.org</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Got It!</button>
            </div>
        </div>
    </div>
</div>
<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.BillType)</h4>
    <div class="panel panel-default">
        <div class="panel-heading">@Html.DisplayNameFor(model => model.Description)</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9">
                    
                    <div class="row visible-xs visible-sm">
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.Description)<br /><br />
                        </div>
                    </div>
                    <div class="row visible-xs visible-sm">
                        @if (!Model.UserHasVoted)
                        {
                            <div class="col-md-12">
                                <h4>Cast my vote now</h4>
                                <p>
                                    Have you heard all you need to know? Are you ready to cast your vote?
                                </p>
                                <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
                                    <a role="button" href="@Url.Action("VoteOnBill", "Bills", new { vote = true, billId = Model.Id})" class="btn btn-success  col-md-6" style="margin-bottom:4px;white-space: normal;">Vote for this bill</a>
                                    <a role="button" href="@Url.Action("VoteOnBill", "Bills", new { vote = false, billId = Model.Id})" class="btn btn-danger col-md-6" style="margin-bottom:4px;white-space: normal;">Vote agaist this bill</a>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class=" col-md-12">
                                <br />
                                <div class="alert alert-success" role="alert">
                                    <strong>Thank you for voting on this bill.</strong>
                                </div>
                            </div>
                        }
                    </div>
                    
                    <div class="row top-buffer visible-xs visible-sm">
                        
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div style="width:100%; position:relative; padding-bottom: 92%;">
                                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                                         xmlns:cc="http://creativecommons.org/ns#"
                                         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                         xmlns:svg="http://www.w3.org/2000/svg"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         id="svg2"
                                         viewBox="0 0 450 450"
                                         preserveAspectRatio="xMidYMin slice"
                                         style="position:absolute; width: 100%;  height: 1px; overflow:visible">
                                        <metadata id=" metadata62">
                                            <rdf:RDF>
                                                <cc:Work rdf:about="">
                                                    <dc:format>image/svg+xml</dc:format>
                                                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                                    <cc:license rdf:resource="http://creativecommons.org/licenses/publicdomain/" />
                                                    <dc:title>Diti political compass</dc:title>
                                                    <dc:date>2008-10-02</dc:date>
                                                    <dc:creator>
                                                        <cc:Agent>
                                                            <dc:title>Dimitri Torterat (Diti)</dc:title>
                                                        </cc:Agent>
                                                    </dc:creator>
                                                    <dc:identifier>http://commons.wikimedia.org/wiki/Image:Diti_political_compass.svg</dc:identifier>
                                                    <dc:relation>Image:Political chart.svg</dc:relation>
                                                    <dc:language>en</dc:language>
                                                    <dc:description>
                                                        English: Diti's results to the Political Compass™ test. See http://en.wikipedia.org/wiki/Political_compass.
                                                        Français : Résultats de Diti au test du Political Compass™. Voir http://fr.wikipedia.org/wiki/Quadrant_politique.
                                                    </dc:description>
                                                </cc:Work>
                                                <cc:License rdf:about="http://creativecommons.org/licenses/publicdomain/">
                                                    <cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction" />
                                                    <cc:permits rdf:resource="http://creativecommons.org/ns#Distribution" />
                                                    <cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
                                                </cc:License>
                                            </rdf:RDF>
                                        </metadata>
                                        <defs id="defs5" />
                                        <g transform="translate(16.1268,7.20645)"
                                           id="g9589">
                                            <g transform="matrix(1.0006063,0,0,1.001387,-36.451321,-7.7364663)"
                                               id="g3221"
                                               style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none">
                                                <path d="M -27.75,-107.1875 L -27.75,72.8125 L -27.75,73.3125 L -27.75,253.3125 L 152.75,253.3125 L 333.03125,253.3125 L 333.03125,72.8125 L 333.03125,-106.96875 L 152.75,-106.96875 L 152.75,-107.1875 L -27.75,-107.1875 z"
                                                      transform="translate(87.76494,127.18358)"
                                                      id="rect3223"
                                                      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                            </g>
                                            <path d="M 42.09981,12.788492 L 42.09981,372.78748"
                                                  id="path3163"
                                                  style="fill:#d3d7cf;fill-opacity:1;fill-rule:evenodd;stroke:#d3d7cf;stroke-width:0.999632;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                            <use transform="translate(18,-2.5e-8)"
                                                 id="use9429"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(36,-2.5e-8)"
                                                 id="use9431"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(54,-2.5e-8)"
                                                 id="use9433"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(72,-2.5e-8)"
                                                 id="use9435"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(90,-2.5e-8)"
                                                 id="use9437"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(108,-2.5e-8)"
                                                 id="use9439"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(126,-2.5e-8)"
                                                 id="use9441"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(144,-2.5e-8)"
                                                 id="use9443"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(180,-2.5e-8)"
                                                 id="use9445"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(198,-2.5e-8)"
                                                 id="use9447"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(216,-2.5e-8)"
                                                 id="use9449"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(234,-2.5e-8)"
                                                 id="use9451"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(252,-2.5e-8)"
                                                 id="use9453"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(270,-2.5e-8)"
                                                 id="use9455"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(288,-2.5e-8)"
                                                 id="use9457"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(306,-2.5e-8)"
                                                 id="use9459"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(324,-2.5e-8)"
                                                 id="use9461"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="matrix(0,1,-1,0,396.887,-11.3125)"
                                                 id="use9473"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#path3163" />
                                            <use transform="translate(4.74121e-7,18)"
                                                 id="use9475"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,36)"
                                                 id="use9477"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,54)"
                                                 id="use9479"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,72)"
                                                 id="use9481"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,90)"
                                                 id="use9483"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,108)"
                                                 id="use9485"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,126)"
                                                 id="use9487"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,144)"
                                                 id="use9489"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,180)"
                                                 id="use9491"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,198)"
                                                 id="use9493"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,216)"
                                                 id="use9495"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,234)"
                                                 id="use9497"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,252)"
                                                 id="use9499"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,270)"
                                                 id="use9501"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,288)"
                                                 id="use9503"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,306)"
                                                 id="use9505"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <use transform="translate(4.74121e-7,324)"
                                                 id="use9507"
                                                 x="0"
                                                 y="0"
                                                 width="480"
                                                 height="400"
                                                 xlink:href="#use9473" />
                                            <text x="138.10001"
                                                  y="8.7871103"
                                                  id="text9511"
                                                  xml:space="preserve"
                                                  style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Bitstream Vera Sans"><tspan x="138.10001"
                                                                                                                                                                                                                                                                                                                                                      y="8.7871103"
                                                                                                                                                                                                                                                                                                                                                      id="tspan9513" /></text>
                                            <text x="204.545"
                                                  y="9.1171904"
                                                  id="text9515"
                                                  xml:space="preserve"
                                                  style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="204.545"
                                                                                                                                                                                                                                                                                                                                          y="9.1171904"
                                                                                                                                                                                                                                                                                                                                          id="tspan9517"
                                                                                                                                                                                                                                                                                                                                          style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Authoritarian</tspan></text>
                                            <text x="10.3184"
                                                  y="197.286"
                                                  id="text9519"
                                                  xml:space="preserve"
                                                  style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="10.3184"
                                                                                                                                                                                                                                                                                                                                          y="197.286"
                                                                                                                                                                                                                                                                                                                                          id="tspan9521"
                                                                                                                                                                                                                                                                                                                                          style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Left</tspan></text>
                                            <text x="402.23099"
                                                  y="196.091"
                                                  id="text9523"
                                                  xml:space="preserve"
                                                  style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="402.23099"
                                                                                                                                                                                                                                                                                                                                          y="196.091"
                                                                                                                                                                                                                                                                                                                                          id="tspan9525"
                                                                                                                                                                                                                                                                                                                                          style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Right</tspan></text>
                                            <text x="204.545"
                                                  y="385.41699"
                                                  id="text9527"
                                                  xml:space="preserve"
                                                  style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="204.545"
                                                                                                                                                                                                                                                                                                                                          y="385.41699"
                                                                                                                                                                                                                                                                                                                                          id="tspan9529"
                                                                                                                                                                                                                                                                                                                                          style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Libertarian</tspan></text>
                                            <g transform="translate(-36.4,-7.71289)"
                                               id="g2385"
                                               style="opacity:0.75">
                                                <rect width="180"
                                                      height="180"
                                                      x="60"
                                                      y="201"
                                                      id="rect2406"
                                                      style="opacity:1;fill:#9aed97;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                                <rect width="180"
                                                      height="180"
                                                      x="241"
                                                      y="201"
                                                      id="rect3178"
                                                      style="opacity:1;fill:#c09aea;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                                <rect width="180"
                                                      height="180"
                                                      x="241"
                                                      y="20"
                                                      id="rect3180"
                                                      style="opacity:1;fill:#42aaff;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                                <rect width="180"
                                                      height="180"
                                                      x="60"
                                                      y="20"
                                                      id="rect3182"
                                                      style="opacity:1;fill:#ff7575;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                                <path d="M 240.50069,20.500991 L 240.50069,380.50099"
                                                      id="path3184"
                                                      style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.99900001;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                                <path d="M 420.50035,200.5 L 60.499654,200.5"
                                                      id="path9533"
                                                      style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.999654px;stroke-linecap:square;stroke-linejoin:miter;stroke-opacity:1" />
                                            </g>
                                            <path d="M 172.44566,289.38199 C 172.44566,293.55572 169.06218,296.93919 164.88845,296.93919 C 160.71473,296.93919 157.33125,293.55572 157.33125,289.38199 C 157.33125,285.20826 160.71473,281.82478 164.88845,281.82478 C 169.06218,281.82478 172.44566,285.20826 172.44566,289.38199 z"
                                                  transform="translate(@Model.PoliticalStance.HorizontalAvarage,@Model.PoliticalStance.VerticalAvarage)"
                                                  id="path9509"
                                                  style="opacity:0.75;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.99900001;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="caption">
                                    <h3>Political Stance</h3>
                                    <p>
                                        This political stance gives you an indication of the kind of Bill this is.
                                    </p>
                                    <p>
                                        <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Explain this?</a>
                                        <a href="@Url.Action("VoteOnStance","Bills", new{id = Model.Id})" class="btn btn-default" role="button">Set stance</a>
                                    </p>
                                </div>
                            </div>

                            <a role="button" href="@Url.Action("PeoplesDebate", "Debate", new {billId = Model.Id})" class="btn btn-primary" style="margin-bottom: 4px; white-space: normal;">People's Debate</a>
                            <a role="button" href="@Url.Action("ParliamentaryDebate", "Bills", new {id = Model.Id})" class="btn btn-primary" style="margin-bottom: 4px; white-space: normal;">Parliamentary Debate</a>
                        </div>
                    </div>

                    <div class="row hidden-xs hidden-sm">
                        <div class="col-md-12">
                            @Html.DisplayFor(model => model.Description)<br /><br />
                            @Html.DisplayNameFor(model => model.House) : <strong>@Html.DisplayFor(model => model.House)</strong><br />
                            @Html.DisplayNameFor(model => model.Stage) : <strong>@Html.DisplayFor(model => model.Stage) </strong><br /><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="localVotes" style="min-width: 194px; height: 250px; max-width: 600px; margin: 0 auto"></div>
                                    <div>
                                        <p>
                                            Registered Voters: <strong>@Model.PreviouseLocalVotes.RegisterdVoters</strong><br />
                                            Signed up Voters: <strong>@Model.PreviouseLocalVotes.SignedUpVoters (@Model.PreviouseLocalVotes.SignedUpPercentage.ToString("0.0000")%)</strong><br />
                                            Total For Votes: <strong>@Model.PreviouseLocalVotes.ForCount</strong><br />
                                            Total Against Votes: <strong>@Model.PreviouseLocalVotes.AgainstCount</strong><br /><br />
                                            My MP <strong>@Model.PreviouseLocalVotes.mpVoted this bill</strong> and represented <strong>@Model.PreviouseLocalVotes.percentageRepresented%</strong> of my constituency
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="nationalVotes" style="min-width: 194px; height: 250px; max-width: 600px; margin: 0 auto"></div>
                                    <div>
                                        <p>
                                            Registered Voters: <strong>@Model.PreviouseNationalVotes.RegisterdVoters</strong><br />
                                            Signed up Voters: <strong>@Model.PreviouseNationalVotes.SignedUpVoters (@Model.PreviouseNationalVotes.SignedUpPercentage.ToString("0.0000")%)</strong><br />
                                            Total For Votes: <strong>@Model.PreviouseNationalVotes.ForCount</strong><br />
                                            Total Against Votes: <strong>@Model.PreviouseNationalVotes.AgainstCount</strong><br /><br />
                                            We record your vote, but <strong>we do not store the details of how you voted</strong> for privacy reasons.
                                            How does your vote compare to the national results?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="parlimetaryVotes" style="min-width: 194px; height: 250px; max-width: 600px; margin: 0 auto"></div>
                                    <div>
                                        <p>
                                            This vote represented <strong>@Model.PreviouseParlimantaryVotes.percentageRepresented.ToString("0.0000")%</strong> of the electorate
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="thumbnail">
                        <div style="width:100%; position:relative; padding-bottom: 92%;">
                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                                 xmlns:cc="http://creativecommons.org/ns#"
                                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                 xmlns:svg="http://www.w3.org/2000/svg"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 id="svg2"
                                 viewBox="0 0 450 450"
                                 preserveAspectRatio="xMidYMin slice"
                                 style="position:absolute; width: 100%;  height: 1px; overflow:visible">
                                <metadata id=" metadata62">
                                    <rdf:RDF>
                                        <cc:Work rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                            <cc:license rdf:resource="http://creativecommons.org/licenses/publicdomain/" />
                                            <dc:title>Diti political compass</dc:title>
                                            <dc:date>2008-10-02</dc:date>
                                            <dc:creator>
                                                <cc:Agent>
                                                    <dc:title>Dimitri Torterat (Diti)</dc:title>
                                                </cc:Agent>
                                            </dc:creator>
                                            <dc:identifier>http://commons.wikimedia.org/wiki/Image:Diti_political_compass.svg</dc:identifier>
                                            <dc:relation>Image:Political chart.svg</dc:relation>
                                            <dc:language>en</dc:language>
                                            <dc:description>
                                                English: Diti's results to the Political Compass™ test. See http://en.wikipedia.org/wiki/Political_compass.
                                                Français : Résultats de Diti au test du Political Compass™. Voir http://fr.wikipedia.org/wiki/Quadrant_politique.
                                            </dc:description>
                                        </cc:Work>
                                        <cc:License rdf:about="http://creativecommons.org/licenses/publicdomain/">
                                            <cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction" />
                                            <cc:permits rdf:resource="http://creativecommons.org/ns#Distribution" />
                                            <cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
                                        </cc:License>
                                    </rdf:RDF>
                                </metadata>
                                <defs id="defs5" />
                                <g transform="translate(16.1268,7.20645)"
                                   id="g9589">
                                    <g transform="matrix(1.0006063,0,0,1.001387,-36.451321,-7.7364663)"
                                       id="g3221"
                                       style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none">
                                        <path d="M -27.75,-107.1875 L -27.75,72.8125 L -27.75,73.3125 L -27.75,253.3125 L 152.75,253.3125 L 333.03125,253.3125 L 333.03125,72.8125 L 333.03125,-106.96875 L 152.75,-106.96875 L 152.75,-107.1875 L -27.75,-107.1875 z"
                                              transform="translate(87.76494,127.18358)"
                                              id="rect3223"
                                              style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                    </g>
                                    <path d="M 42.09981,12.788492 L 42.09981,372.78748"
                                          id="path3163"
                                          style="fill:#d3d7cf;fill-opacity:1;fill-rule:evenodd;stroke:#d3d7cf;stroke-width:0.999632;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                    <use transform="translate(18,-2.5e-8)"
                                         id="use9429"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(36,-2.5e-8)"
                                         id="use9431"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(54,-2.5e-8)"
                                         id="use9433"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(72,-2.5e-8)"
                                         id="use9435"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(90,-2.5e-8)"
                                         id="use9437"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(108,-2.5e-8)"
                                         id="use9439"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(126,-2.5e-8)"
                                         id="use9441"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(144,-2.5e-8)"
                                         id="use9443"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(180,-2.5e-8)"
                                         id="use9445"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(198,-2.5e-8)"
                                         id="use9447"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(216,-2.5e-8)"
                                         id="use9449"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(234,-2.5e-8)"
                                         id="use9451"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(252,-2.5e-8)"
                                         id="use9453"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(270,-2.5e-8)"
                                         id="use9455"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(288,-2.5e-8)"
                                         id="use9457"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(306,-2.5e-8)"
                                         id="use9459"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(324,-2.5e-8)"
                                         id="use9461"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="matrix(0,1,-1,0,396.887,-11.3125)"
                                         id="use9473"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#path3163" />
                                    <use transform="translate(4.74121e-7,18)"
                                         id="use9475"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,36)"
                                         id="use9477"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,54)"
                                         id="use9479"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,72)"
                                         id="use9481"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,90)"
                                         id="use9483"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,108)"
                                         id="use9485"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,126)"
                                         id="use9487"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,144)"
                                         id="use9489"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,180)"
                                         id="use9491"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,198)"
                                         id="use9493"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,216)"
                                         id="use9495"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,234)"
                                         id="use9497"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,252)"
                                         id="use9499"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,270)"
                                         id="use9501"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,288)"
                                         id="use9503"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,306)"
                                         id="use9505"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <use transform="translate(4.74121e-7,324)"
                                         id="use9507"
                                         x="0"
                                         y="0"
                                         width="480"
                                         height="400"
                                         xlink:href="#use9473" />
                                    <text x="138.10001"
                                          y="8.7871103"
                                          id="text9511"
                                          xml:space="preserve"
                                          style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Bitstream Vera Sans"><tspan x="138.10001"
                                                                                                                                                                                                                                                                                                                                              y="8.7871103"
                                                                                                                                                                                                                                                                                                                                              id="tspan9513" /></text>
                                    <text x="204.545"
                                          y="9.1171904"
                                          id="text9515"
                                          xml:space="preserve"
                                          style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="204.545"
                                                                                                                                                                                                                                                                                                                                  y="9.1171904"
                                                                                                                                                                                                                                                                                                                                  id="tspan9517"
                                                                                                                                                                                                                                                                                                                                  style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Authoritarian</tspan></text>
                                    <text x="10.3184"
                                          y="197.286"
                                          id="text9519"
                                          xml:space="preserve"
                                          style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="10.3184"
                                                                                                                                                                                                                                                                                                                                  y="197.286"
                                                                                                                                                                                                                                                                                                                                  id="tspan9521"
                                                                                                                                                                                                                                                                                                                                  style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Left</tspan></text>
                                    <text x="402.23099"
                                          y="196.091"
                                          id="text9523"
                                          xml:space="preserve"
                                          style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="402.23099"
                                                                                                                                                                                                                                                                                                                                  y="196.091"
                                                                                                                                                                                                                                                                                                                                  id="tspan9525"
                                                                                                                                                                                                                                                                                                                                  style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Right</tspan></text>
                                    <text x="204.545"
                                          y="385.41699"
                                          id="text9527"
                                          xml:space="preserve"
                                          style="font-size:24px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Georgia"><tspan x="204.545"
                                                                                                                                                                                                                                                                                                                                  y="385.41699"
                                                                                                                                                                                                                                                                                                                                  id="tspan9529"
                                                                                                                                                                                                                                                                                                                                  style="font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Bitstream Vera Sans">Libertarian</tspan></text>
                                    <g transform="translate(-36.4,-7.71289)"
                                       id="g2385"
                                       style="opacity:0.75">
                                        <rect width="180"
                                              height="180"
                                              x="60"
                                              y="201"
                                              id="rect2406"
                                              style="opacity:1;fill:#9aed97;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                        <rect width="180"
                                              height="180"
                                              x="241"
                                              y="201"
                                              id="rect3178"
                                              style="opacity:1;fill:#c09aea;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                        <rect width="180"
                                              height="180"
                                              x="241"
                                              y="20"
                                              id="rect3180"
                                              style="opacity:1;fill:#42aaff;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                        <rect width="180"
                                              height="180"
                                              x="60"
                                              y="20"
                                              id="rect3182"
                                              style="opacity:1;fill:#ff7575;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                        <path d="M 240.50069,20.500991 L 240.50069,380.50099"
                                              id="path3184"
                                              style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.99900001;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                        <path d="M 420.50035,200.5 L 60.499654,200.5"
                                              id="path9533"
                                              style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.999654px;stroke-linecap:square;stroke-linejoin:miter;stroke-opacity:1" />
                                    </g>
                                    <path d="M 172.44566,289.38199 C 172.44566,293.55572 169.06218,296.93919 164.88845,296.93919 C 160.71473,296.93919 157.33125,293.55572 157.33125,289.38199 C 157.33125,285.20826 160.71473,281.82478 164.88845,281.82478 C 169.06218,281.82478 172.44566,285.20826 172.44566,289.38199 z"
                                          transform="translate(@Model.PoliticalStance.HorizontalAvarage,@Model.PoliticalStance.VerticalAvarage)"
                                          id="path9509"
                                          style="opacity:0.75;fill:#ff0000;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.99900001;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                                </g>
                            </svg>
                        </div>
                        <div class="caption">
                            <h3>Political Stance</h3>
                            <p>
                                This political stance gives you an indication of the kind of Bill this is.
                            </p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal">Explain this?</a>
                                <a href="@Url.Action("VoteOnStance","Bills", new{id = Model.Id})" class="btn btn-default" role="button">Vote on this!</a>
                            </p>
                        </div>
                    </div>
                    
                    <a role="button" href="@Url.Action("PeoplesDebate", "Debate", new {billId = Model.Id})" class="btn btn-primary" style="margin-bottom: 4px; white-space: normal;">People's Debate</a>
                    <a role="button" href="@Url.Action("ParliamentaryDebate", "Bills", new {id = Model.Id})" class="btn btn-primary" style="margin-bottom: 4px; white-space: normal;">Parliamentary Debate</a>
                </div>
            </div> 
            
            
           

            <div class="row hidden-xs hidden-sm">
                @if (!Model.UserHasVoted)
                {
                    <div class="col-md-12">
                        <h4>Cast my vote now</h4>
                        <p>
                            Have you heard all you need to know? Are you ready to cast your vote?
                        </p>
                        <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
                            <a role="button" href="@Url.Action("VoteOnBill", "Bills", new { vote = true, billId = Model.Id})" class="btn btn-success  col-md-6" style="margin-bottom:4px;white-space: normal;">Vote for this bill</a>
                            <a role="button" href="@Url.Action("VoteOnBill", "Bills", new { vote = false, billId = Model.Id})" class="btn btn-danger col-md-6" style="margin-bottom:4px;white-space: normal;">Vote agaist this bill</a>
                        </div>
                    </div>

                }
                else
                {
                    <div class=" col-md-12">
                        <br />
                        <div class="alert alert-danger" role="alert">
                            <strong>You have already voted at this stage of the bill.</strong>
                        </div>
                    </div>
                }
            </div>
        </div>
        

        
    </div>
    
</div>