@model Democracy.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row row-centered">
    <div class="col-md-7 col-centered">
        @Html.Partial("_logo")
    </div>
</div>

<div class="row row-centered">
    <div class="col-md-7 col-centered">
        <section id="loginForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-centered col-md-12">
                    <p>
                        <strong>
                            You must enter your name and post code so we can verify your identity on the electoral roll.
                            If we are unable to verify you, you will still be able to use all the features of the site
                            but your votes will only count towards opinion polls.
                        </strong>
                    </p>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.ScreenName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ScreenName, new { @class = "form-control" })
                        To maintain your privacy, please select a name that other users of this site will know you as.
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PostCode, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        your password must be at least 6 characters long.
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </div>
            }
        </section>

</div>
</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
